@tailwind base;
@tailwind components;
@tailwind utilities;

.text-logo {
    font-family: Advent Pro, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-landing {
    background-image: url(./../img/stock/grocery.jpg);
}
.content-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}